name: .NET CI with SonarCloud

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - run: dotnet tool install --global dotnet-sonarscanner

      - name: Begin Sonar
        run: >
          dotnet sonarscanner begin
          /key:"pedroigoor_MeuLivroReceita"
          /o:"pedroigoor"
          /d:sonar.token="${{ secrets.SONARCLOUD }}"
          /d:sonar.host.url="https://sonarcloud.io"
          /d:sonar.cs.cobertura.reportsPaths="TestResults/coverage/coverage.cobertura.xml"

      - run: dotnet restore

      - run: dotnet build --configuration Release --no-restore

      - name: Test with Coverage
        run: >
          dotnet test
          --configuration Release
          /p:CollectCoverage=true
          /p:CoverletOutputFormat=cobertura
          /p:CoverletOutput=./TestResults/coverage/

      - name: End Sonar
        run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONARCLOUD }}"